description "Start Solr service after Vagrant emits mounted event"
author "Vranac Srdjan"

# Listen and start after the vagrant-mounted event
start on vagrant-mounted MOUNTPOINT=/var/www/ezpublish or solr-start
stop on runlevel [!2345]

kill timeout 30

console none

script
    exec sudo service solr start
end script
