.idea/
.vagrant/
/ezpublish/cache/
/ezpublish/logs/
/ezpublish/bootstrap.php.cache
/ezpublish/config/parameters.yml
/ezpublish_legacy/
/vendor/
/web/bundles/
/web/css/
/web/js/
/web/design
/web/extension
/web/share
/web/var
/web/.htaccess
/web/index_treemenu.php
/web/index_rest.php
/web/index_cluster.php
/web/robots.txt
composer.phar
.DS_Store
