# Official VirtualHost configuration for Apache 2.x template
# See Readme.md for how to generate your config manually, or in automated deployments.
# Note: This is meant to be manually tailored for your needs, expires headers might for instance not work for your dev setup.

# NameVirtualHost {{ IP_ADDRESS }}

<VirtualHost {{ IP_ADDRESS }}:{{ PORT }}>
    {% if HOST %}
    ServerName {{ HOST }}
    {% endif %}
    {% if HOST_ALIAS %}
    ServerAlias {{ HOST_ALIAS }}
    {% endif %}
    DocumentRoot {{ PROJECT_ROOT }}/web
    DirectoryIndex app.php

    # Request size limit in bytes, 0 to disable
    LimitRequestBody 0

    # Request timeout limit in seconds, 0 to disable
    TimeOut 0

    # Enabled for Dev environment
    # LogLevel debug

    # "web" folder is what we expose to the world, all rewrite rules further down is relative to it.
    <Directory {{ PROJECT_ROOT }}/web>
        # If using php configured in FastCGI mode, you might also need to add "ExecCGI" to the line below
        Options FollowSymLinks
        AllowOverride None
        Require all granted
    </Directory>

    <Location />
        Options -Indexes
    </Location>

    # Environment.
    # Possible values: "prod" and "dev" out-of-the-box, other values possible with proper configuration
    # Defaults to "prod" if omitted (uses SetEnvIf so value can be used in rewrite rules)
    SetEnvIf Request_URI ".*" SYMFONY_ENV={{ EZPUBLISH_ENVIRONMENT }}

    # Optional: Whether to use custom ClassLoader (autoloader) file
    # Needs to be a valid path relative to root web/ directory
    # Defaults to bootstrap.php.cache, or autoload.php in debug if env value is omitted or empty
    #SetEnv SYMFONY_CLASSLOADER_FILE "../app/autoload.php"

    # Optional: Whether to use debugging.
    # Possible values: 0, 1 or ""
    # Defaults to enabled if SYMFONY_ENV is set to "dev" if env value is omitted or empty
    #SetEnv SYMFONY_DEBUG "0"

    # Optional: Whether to use Symfony's HTTP Caching.
    # Disable it if you are using an external reverse proxy (e.g. Varnish)
    # Possible values: 0, 1 or ""
    # Defaults to disabled if SYMFONY_ENV is set to "dev" or SYMFONY_TRUSTED_PROXIES is set,
    # and if this env value is omitted or empty
    #SetEnv SYMFONY_HTTP_CACHE "1"

    # Optional: Whether to use custom HTTP Cache class if SYMFONY_HTTP_CACHE is enabled
    # Value must be a autoloadable cache class
    # Defaults to to use provided "AppCache" if env value is omitted or empty
    #SetEnv SYMFONY_HTTP_CACHE_CLASS "\Vendor\Project\MyCache"

    # Optional: Defines the proxies to trust
    # Needed when using Varnish as proxy, if so disable SYMFONY_HTTP_CACHE.
    # Separate entries by a comma, example: "proxy1.example.com,proxy2.example.org"
    # Defaults to not be set if env value is omitted or empty
    #SetEnv SYMFONY_TRUSTED_PROXIES "{{ EZPUBLISH_TRUSTED_PROXIES }}"

    <IfModule mod_rewrite.c>
        RewriteEngine On

        # For FastCGI mode or when using PHP-FPM, to get basic auth working.
        RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

        RewriteCond %{REQUEST_URI} ^/php5-fcgi(.*)
        RewriteRule . - [L]

        # Cluster/streamed files rewrite rules. Enable on cluster with DFS as a binary data handler
        #RewriteRule ^/var/([^/]+/)?storage/images(-versioned)?/.* /app.php [L]

        RewriteRule ^/var/([^/]+/)?storage/images(-versioned)?/.* - [L]

        # Rules required for eZ Platform + Legacy
        RewriteRule ^/var/([^/]+/)?cache/(texttoimage|public)/.* - [L]
        RewriteRule ^/design/[^/]+/(stylesheets|images|fonts|javascript)/.* - [L]
        RewriteRule ^/share/icons/.* - [L]
        RewriteRule ^/extension/[^/]+/design/[^/]+/(stylesheets|flash|images|fonts|lib|javascripts?)/.* - [L]

        # Makes it possible to place your favicon at the root of your eZ Platform instance.
        # It will then be served directly.
        RewriteRule ^/favicon\.ico - [L]

        # Give direct access to robots.txt for use by crawlers (Google, Bing, Spammers...)
        RewriteRule ^/robots\.txt - [L]

        # Platform for Privacy Preferences Project ( P3P ) related files for Internet Explorer
        # More info here : http://en.wikipedia.org/wiki/P3p
        RewriteRule ^/w3c/p3p\.xml - [L]

        # The following rule is needed to correctly display assets from eZ Platform / Symfony bundles
        RewriteRule ^/bundles/ - [L]

        # Additional Assetic rules for environments different from dev,
        # remember to run php app/console assetic:dump --env=prod
        RewriteCond %{ENV:SYMFONY_ENV} !^(dev)
        RewriteRule ^/(css|js|font)/.*\.(css|js|otf|eot|ttf|svg|woff) - [L]

        RewriteRule .* /app.php
    </IfModule>

    # Everything below is optional to improve performance by forcing
    # clients to cache image and design files, change the expires time
    # to suite project needs.
    # <IfModule mod_expires.c>
    #     <LocationMatch "^/var/[^/]+/storage/images/.*">
    #         # eZ Platform appends the version number to image URL (ezimage
    #         # datatype) so when an image is updated, its URL changes too
    #         ExpiresActive on
    #         ExpiresDefault "now plus 10 years"
    #     </LocationMatch>
    #
    #     <LocationMatch "^/design/[^/]+/(stylesheets|images|fonts|javascript)/.*">
    #         ExpiresActive on
    #         ExpiresDefault "now plus 30 days"
    #     </LocationMatch>
    #
    #     <LocationMatch "^/extension/[^/]+/design/[^/]+/(stylesheets|flash|images|fonts|lib|javascripts?)/.*">
    #         ExpiresActive on
    #         ExpiresDefault "now plus 30 days"
    #     </LocationMatch>
    #
    #     <LocationMatch "^/bundles/[^/]+/(css|flash|images|fonts|js)/.*">
    #         ExpiresActive on
    #         ExpiresDefault "now plus 30 days"
    #     </LocationMatch>
    #
    #     <LocationMatch "^/(css|js)/.*">
    #         ExpiresActive on
    #         ExpiresDefault "now plus 30 days"
    #     </LocationMatch>
    # </IfModule>

    ErrorLog ${APACHE_LOG_DIR}/ezpublish-error.log
    CustomLog ${APACHE_LOG_DIR}/ezpublish-access.log combined
</VirtualHost>
