# NameVirtualHost {{ IP_ADDRESS }}

<VirtualHost {{ IP_ADDRESS }}:{{ PORT }}>
    {% if HOST %}
    ServerName {{ HOST }}
    {% endif %}
    {% if HOST_ALIAS %}
    ServerAlias {{ HOST_ALIAS }}
    {% endif %}
    DocumentRoot {{ PROJECT_ROOT }}/web

    <Directory {{ PROJECT_ROOT }}/web/>
        AllowOverride All
        Require all granted
    </Directory>

    <Location />
        Options -Indexes
    </Location>

    ErrorLog ${APACHE_LOG_DIR}/ezpublish-error.log
    CustomLog ${APACHE_LOG_DIR}/ezpublish-access.log combined
</VirtualHost>
