# production-ready setup
# TODO: use facter to calculate concurrency and limits

[mysqld]
max_connections = 100
key_buffer_size = 8M
innodb_buffer_pool_size = 6G
innodb_flush_log_at_trx_commit = 1
innodb_flush_method = O_DIRECT
innodb_thread_concurrency = 4
table_open_cache = 2048
sort_buffer_size = 16M
read_buffer_size = 8M
read_rnd_buffer_size = 16M
thread_cache_size = 4
query_cache_type = 1
query_cache_size = 32M
thread_stack = 256K
tmp_table_size = 160M
max_heap_table_size = 160M
