---
# tasks file for php
- name: Add the OS specific varibles
  include_vars: "{{ ansible_os_family }}.yml"

- name: Check the php version
  command: php -v
  ignore_errors: True
  register: php_version_result
  when: ansible_os_family == "Debian"
  tags: [packages, php, packages]

- name: Add php 5.6 and 7.0 repository if needed (ondrej)
  # Add specified repository into sources list.
  apt_repository: repo='ppa:ondrej/php/ubuntu wily main' state=present update_cache=yes
  when: ansible_os_family == "Debian"
  tags: [php, php56, php7, packages]

- name: Install the php 5.6 libraries (APT)
  apt: name="{{ item }}" state=latest update_cache=yes
  with_items: "{{ php56_packages }}"
  ignore_errors: True
  when: ansible_os_family == "Debian" and php56_packages|lower != 'none'
  tags: [php, packages]

- name: Install the php 7.0 libraries (APT)
  apt: name="{{ item }}" state=latest update_cache=yes
  with_items: "{{ php7_packages }}"
  ignore_errors: True
  when: ansible_os_family == "Debian" and php7_packages|lower != 'none'
  tags: [php, packages]

- name: Set php 5.6 as default
  alternatives:
    name: php
    path: "/usr/bin/php5.6"
  tags: [php, packages]

- name: Create CLI php.ini configuration
  template: src=php.ini.cli.j2 dest=/etc/php/5.6/cli/php.ini backup=yes owner=root group=root mode=0644
  when: ansible_os_family == "Debian"
  tags: [configuration, php]

- name: Create CLI php.ini configuration
  template: src=php.ini.cli.j2 dest=/etc/php/7.0/cli/php.ini backup=yes owner=root group=root mode=0644
  when: ansible_os_family == "Debian"
  tags: [configuration, php]

- name: Install OpCache
  command: pecl install zendopcache
  ignore_errors: true
  when: use_php56 == false

- name: Configure OpCache
  copy: src=opcache.ini dest=/etc/php/5.6/mods-available/opcache.ini
  ignore_errors: true
  when: ansible_os_family == "Debian"

- name: Configure OpCache
  copy: src=opcache.ini dest=/etc/php/7.0/mods-available/opcache.ini
  ignore_errors: true
  when: ansible_os_family == "Debian"

- name: Enable OpCache
  command: phpenmod opcache
  ignore_errors: true
  when: ansible_os_family == "Debian"

- name: Install xdebug
  apt: name="{{ item }}" state=present update_cache=yes
  # located in vars/main.yml
  with_items: "{{ php_xdebug }}"
  when: ansible_os_family == "Debian" and use_xdebug == true
  tags: [php, packages, xdebug, dev]

- name: Make sure the xdebug.ini does not reference the extension dir (PHP 5.6)
  # Because php, the xdebug.ini generated by apt has something along
  # the lines of zend_extension=/usr/lib/php5/20121212/xdebug.so
  # which sometimes gets updated, and sometimes does not
  copy: dest="/etc/php/5.6/mods-available/xdebug.ini" content="; configuration for php xdebug module\n; priority=20\nzend_extension=xdebug.so\nxdebug.max_nesting_level = 1000\n"
  ignore_errors: true
  when: ansible_os_family == "Debian" and use_xdebug == true

- name: Make sure the xdebug.ini does not reference the extension dir (PHP 7.0)
  # Because php, the xdebug.ini generated by apt has something along
  # the lines of zend_extension=/usr/lib/php5/20121212/xdebug.so
  # which sometimes gets updated, and sometimes does not
  copy: dest="/etc/php/7.0/mods-available/xdebug.ini" content="; configuration for php xdebug module\n; priority=20\nzend_extension=xdebug.so\nxdebug.max_nesting_level = 1000\n"
  ignore_errors: true
  when: ansible_os_family == "Debian" and use_xdebug == true

- name: Disable XDebug
  command: phpdismod xdebug
  ignore_errors: true
  when: ansible_os_family == "Debian" and use_xdebug == true and activate_xdebug == false

- name: Install the php-fpm specific libraries (APT) (PHP 5.6)
  apt: name="{{ item }}" state=present update_cache=yes
  # located in vars/main.yml
  with_items: "{{ php56_fpm_packages }}"
  when: ansible_os_family == "Debian" and use_php5_fpm == true
  tags: [php, php_fpm, packages]

- name: Remove the php-fpm specific libraries (APT) (PHP 5.6)
  apt: name="{{ item }}" state=absent update_cache=yes
  # located in vars/main.yml
  with_items: "{{ php56_fpm_packages }}"
  when: ansible_os_family == "Debian" and use_php5_fpm == false
  tags: [php, php_fpm, packages]

- name: Install the php non-fpm specific libraries (APT) (PHP 7.0)
  apt: name="{{ item }}" state=present update_cache=yes
  # located in vars/main.yml
  with_items: "{{ php7_nofpm_packages }}"
  when: ansible_os_family == "Debian" and use_php5_fpm == false
  tags: [php, packages]

- name: Remove the php non-fpm specific libraries (APT) (PHP 7.0)
  apt: name="{{ item }}" state=absent update_cache=yes
  # located in vars/main.yml
  with_items: "{{ php7_nofpm_packages }}"
  when: ansible_os_family == "Debian" and use_php5_fpm == true
  tags: [php, packages]

- name: Create Apache php.ini configuration (PHP 5.6)
  template: src=php.ini.fpm.j2 dest=/etc/php/5.6/apache2/php.ini backup=yes owner=root group=root mode=0644
  when: ansible_os_family == "Debian" and use_php5_fpm == false
  notify: restart Apache
  tags: [php, configuration]

- name: Create Apache php.ini configuration (PHP 7.0)
  template: src=php.ini.fpm.j2 dest=/etc/php/7.0/apache2/php.ini backup=yes owner=root group=root mode=0644
  when: ansible_os_family == "Debian" and use_php5_fpm == false
  notify: restart Apache
  tags: [php, configuration]

  # on a newly built box I encountered the following error:
  # [crit] 9162#0: *18 connect() to unix:/var/run/php5-fpm.sock failed (13: Permission denied) while connecting to upstream
  # AFAIU the problem was caused by the fix implemented for https://bugs.php.net/bug.php?id=67060
  # The solution is from http://stackoverflow.com/a/23487409 (second addition)
- name: Copy the www pool additional configuration (PHP 5.6)
  template: src=fpm.j2
            dest="/etc/php/5.6/fpm/pool.d//{{ item['filename'] }}.conf"
            backup=yes
            owner=root
            group=root
            mode=0644
  # located in defaults/main.yml
  with_items: "{{ php_fpm_www_additional }}"
  when: php_fpm_www_additional|lower != 'none' and use_php5_fpm == true
  notify:
   - restart php5-fpm
  tags: [configuration,php_fpm]

  # on a newly built box I encountered the following error:
  # [crit] 9162#0: *18 connect() to unix:/var/run/php5-fpm.sock failed (13: Permission denied) while connecting to upstream
  # AFAIU the problem was caused by the fix implemented for https://bugs.php.net/bug.php?id=67060
  # The solution is from http://stackoverflow.com/a/23487409 (second addition)
- name: Copy the www pool additional configuration (PHP 7.0)
  template: src=fpm.j2
            dest="/etc/php/7.0/fpm/pool.d//{{ item['filename'] }}.conf"
            backup=yes
            owner=root
            group=root
            mode=0644
  # located in defaults/main.yml
  with_items: "{{ php_fpm_www_additional }}"
  when: php_fpm_www_additional|lower != 'none' and use_php5_fpm == true
  notify:
   - restart php5-fpm
  tags: [configuration,php_fpm]

- name: Tune php5-fpm
  copy: src=php-fpm.conf dest=/etc/php/5.6/fpm/php-fpm.conf owner=root group=root mode=0644
  notify: restart php5-fpm
  when: ansible_os_family == "Debian" and use_php5_fpm == true
  tags: [php_fpm]

- name: Tune php7.0-fpm
  copy: src=php-fpm.conf dest=/etc/php/7.0/fpm/php-fpm.conf owner=root group=root mode=0644
  notify: restart php5-fpm
  when: ansible_os_family == "Debian" and use_php5_fpm == true
  tags: [php_fpm]

- name: Ensure php5-fpm service is up
  action: service name=php5-fpm state=started
  when: ansible_os_family == "Debian" and use_php5_fpm == true
  tags: [php, php_fpm]

- name: Create FPM php configuration
  template: src=php.ini.fpm.j2 dest=/etc/php5/fpm/php.ini backup=yes owner=root group=root mode=0644
  when: ansible_os_family == "Debian" and use_php5_fpm == true
  notify: restart php5-fpm
  tags: [configuration,php_fpm]

- name: Configure FPM in Apache
  copy: src=apache-php-fpm.conf dest=/etc/apache2/conf-available/php5-fpm.conf owner=root group=root mode=0644
  when: ansible_os_family == "Debian" and use_php5_fpm == true
  tags: [php, php_fpm]

- name: Enable FPM in Apache
  command: a2enconf php5-fpm
  notify: restart Apache
  when: ansible_os_family == "Debian" and use_php5_fpm == true
  tags: [php, php_fpm]

- name: Disable non-used MPM in Apache (FPM related)
  apache2_module: state=absent name="{{ item }}"
  ignore_errors: True
  with_items: "{{ apache_nonfpm_mpm }}"
  notify: restart Apache
  when: ansible_os_family == "Debian" and use_php5_fpm == true
  tags: [php, php_fpm]

- name: Enable required MPM in Apache (FPM related)
  apache2_module: state=present name="{{ item }}"
  with_items: "{{ apache_fpm_mpm }}"
  notify: restart Apache
  when: ansible_os_family == "Debian" and use_php5_fpm == true
  tags: [php, php_fpm]

