error_reporting = {{ php_cli_error_reporting }}
memory_limit = {{ php_cli_memory_limit }}
expose_php = {{ php_cli_expose_php }}
display_errors = {{ php_cli_display_errors }}
display_startup_errors = {{ php_cli_display_startup_errors }}
max_execution_time = {{ php_cli_max_execution_time }}
max_input_time = {{ php_cli_max_input_time }}
upload_max_filesize = {{ php_cli_upload_max_filesize }}
post_max_size = {{ php_cli_post_max_size }}

session.save_handler = {{ php_session_save_handler }}
session.save_path = "{{ php_session_save_path }}"
